[Desktop Entry]
Version=1.0
Type=Application
Name=TVPlayer2
Comment=Fernsehen
Icon=icon2.png
Exec=sh -c  "cd ~/.local/share/LiveStream-TVPlayer-master && python3 ./TVPlayer2mpv.py"
Categories=Video
StartupNotify=false
Terminal=false
Name[de_DE]=TVPlayer2
